h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    border: none !important;
    background-color: #222222 !important;
}

.navbar-nav > li > a {
    color: white !important;
}

.navbar-nav {
    color: white !important;
}