.jumbotron {
    margin: 5%;
    text-align: left;
    max-width: 750px;
    min-height: 600px;
}

body {
    background-color: #F8F8F6;
}

.container {
    /* text-align: center; */
}

.btn-small {
    max-width: 150px;
}